/* style in css */
/* import font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:ital@1&family=Roboto&family=Sofia&display=swap');

:root{
    --light-gray: #2b3032a1;
    --primary-color: #45ccb8;
    --border: #3a3737;
    --text-color: #fff;
    --text-color-secondary: #2b3032;
    --roboto: "Roboto", sans-serif;
    --gugi: "Gugi", cursive;
    --sofia: "Sofia", cursive;
    --anton: "Anton", sans-serif;
}

/* unvisited link */

a:link {
    color: #3535ec;
    text-decoration: none;
}
/* visited link */
a:visited {
    color: #7931ee;
}
/* mouse over link */
a:hover {
    font-style: bold;
    color: #FF0000;
}
/* selected link */
a:active {
    color: #00FF00;
}

/* ul li */
ul {
    list-style-type: none;
    margin: 5%;
    padding: 20px;
    overflow: hidden;
    background-color: #ffffff;
}
ul li:hover {
    float: inline-start;
    /* text-align: center; */
    background-color: rgb(90, 167, 167);
}

ul li a {
    display: block;
    /* color: rgb(112, 39, 39); */
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(212, 235, 235);
}
ul li a:hover {
    background-color: rgb(82, 102, 158);
}
ul li a:active {
    background-color: #00FF00;
}
ul li a:visited {
    background-color: #f0e6f3;
}
ul li a:link {
    background-color: #0000FF;
    color: beige;
}

/* search */
#search-text-input{
    width: 50%; 
    height: 32px; 
    border-radius: 5px; 
    border: 2px solid #ccc;
}
   
#search-text-input:focus{
    border: 2px solid #45ccb8;
}
