*,body{
  padding: 0px;
  margin: 0px;
  color: rgb(37, 37, 37);
  font-family: 'Noto Sans', sans-serif ;
}

body{
  background: rgb(252, 252, 252);
}

.shadow-box{
  box-shadow: rgba(149, 157, 165, 0.2) 2px 2px 10px;
}

/* grid layout */

.container-header { 
  grid-area: header; 
  position: -webkit-sticky;
  position: sticky; 
  background-color: #fff;
  top: 0px;
  
}
.container-menu { 
  grid-area: menu; 
  background: #fff;
  height: 100%;
}
.container-main { 
  grid-area: main; 
  padding: 20px !important;
  border-radius: 15px 0px 0px 15px;
  background:  #FBF6F0;
}
.container-right { 
  grid-area: right; 

}
.container-footer { 
  grid-area: footer; 
  margin: 10px 0px 10px 20px;
}

.grid-container {
  display: grid;
  grid-template-areas:
      'menu header header'
      'menu main right'
      'menu footer footer';
  grid-template-rows: 6vh auto 10vh;
  grid-template-columns: 25vh auto 0vh;
  grid-gap: 0px;
  padding: 0px;
  height: 100vh;
  background: #fff;
}

.grid-container > div {
padding: 0;
}


/* header */

/* Base setting, you can remove */
* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
.header {
  height: 6vh;
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  align-items: center;
}


.header .empty{
  width: 80px;
}

.header input{
  height: 30px;
  width: 40vh;
  margin-left: auto;
  margin-right: auto;
  background: #eeeeee;
  border: none !important;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 10px;
  outline: none;
}

.header-menu {
  list-style: none;
  display: flex;
  align-items: center;
}
.header-menu li {
  margin-left: 10px;
}
.header-menu li a {
  display: inline-block;
  color: rgb(82, 82, 82);
  font-weight: 600;
}

.header-avt{
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

/* menu */

.sidebar-menu{
  position: sticky;
  padding: 10px;
  top: 0px;
}

.sidebar-header{
  display: flex;
  margin: 30px 0px 30px 0px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sidebar-header .menu-logo{
  height: 90px;
}

.sidebar-header .menu-webname{
  margin-top: 10px;
  font-weight: 600;
  text-align: center;
}

.menu-item{
  height: 35px;
  margin: 0px 0px 10px 0px;
  background-color: #eeeeee !important;
  border-radius: 5px;
  display: flex;
  align-items:left;
  padding-left: 15px;
  justify-content:center;
  flex-direction:column;
}

.menu-item .menu-link{
  font-weight: 600;
}

.menu-item .menu-link i{
  margin-right: 5px;
  transition: 1s;
}

.menu-item:hover{
  cursor: pointer;
}

.menu-item:hover .menu-link i{
  transform: rotate(360deg);
}


/* footer */



.footer-basic {
  padding:0px;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
}

.footer-basic .social > a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  color: inherit;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

.ogrange{
  background-color: #FFF4DE;
  transition: 0.5s;
}
.ogrange, .fa-github {
  color: #FFBB36;
  transition: 0.5s;
}

.ogrange:hover{
  background-color: #37CCCE;
}
.ogrange:hover .fa-github {
  color: #fff;
}


.green{
  background-color: #C9F7F5;
  transition: 0.5s;
}
.green, .fa-stack-overflow {
  color: #38a8aa;
  transition: 0.5s;
}

.green:hover{
  background-color: #38a8aa;
}
.green:hover .fa-stack-overflow {
  color: #fff;
}

.blue{
  background-color: #EEE5FF;
  transition: 0.5s;
}

.blue, .fa-facebook-f{
  color: #9E53FC ;
  transition: 0.5s;
}

.blue:hover{
  background-color: #9E53FC;
}

.blue:hover .fa-facebook-f{
  color: #fff ;
}

/* scollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffe37c; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffd439; 
}

/* main */

.main-title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(83, 83, 83);
    margin: 20px 0px 10px 0px;
}


/* page1 */

.today-activity {
  --spacing: 20px;
  --column: 3;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
  margin-bottom: calc(-1 * var(--spacing));
}
.today-activity > * {
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  width: calc((100% / var(--column)) - var(--spacing));
}
.today-activity-item {
  border-radius: 15px;
  padding: 10px;
  background-color: #FFA800;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100px;
  /* box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 10px; */
}
.today-activity-item p{
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.monthly-activity {
  --spacing: 20px;
  --column: 3;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
  margin-bottom: calc(-1 * var(--spacing));
}
.monthly-activity > * {
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  width: calc((100% / var(--column)) - var(--spacing));
}
.monthly-activity-item {
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  animation: scale-animation 0.5s ease;
}
.monthly-activity-item table{
  margin: 5px;
  width: 100%;
}
.monthly-activity-item p{
  font-size: 15px;
  font-weight: 600;
}

.monthly-activity-item p i{
  margin-right: 5px;
}

.monthly-activity-item .collumn-right{
  text-align: left;
}

.monthly-activity-item .collumn-left{
  text-align: right;
}


/* page-2 */
.commodity {
  --spacing: 20px;
  --column: 6;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--spacing));
  margin-bottom: calc(-1 * var(--spacing));
}
.commodity > * {
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  width: calc((100% / var(--column)) - var(--spacing));
}
.commodity-item {
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
  transition: 0.5s;
  animation: scale-animation 0.5s ease;
}
.commodity-image {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.commodity-item:hover {
  transform: translateY(-5px);
}

.commodity-item  .item-name{
  margin: 10px 5px 5px 5px;
  text-overflow: ellipsis;
  font-weight: 600;
}

 .space-between{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.space-between .cost{
  color: red;
  font-weight: 600;
  margin: 5px 0px 0px 5px; 
}

.space-between .sold{
  margin: 9px 0px 0px 0px; 
  font-size: 11px;
  text-align: right;
  color: rgb(139, 139, 139);
}

.link-button{
  
  padding: 5px;
  width: 100%;
  color: #FFBB36;
  background-color: #FFF4DE;
  text-align: center;
  border-radius: 5px;
  font-weight: 600;
  background-position: 0% 0%;
}

/* page-4 */

.content-container{
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}


.item-infomation{
  display: flex;
  justify-content: space-between;
}

.item-infomation .item-picture{
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.item-infomation .infor{
  display: flex;
  flex-direction: column;
  padding: 10px 20px 0px 20px;
}

.item-infomation .infor .item-name{
  font-size: 20px;
}

.item-infomation .infor .item-cost{
  font-size: 20px;
  font-weight: 600;
  color: red;
  margin: 10px 0px 10px 0px;
}
.item-infomation .infor .number-of-item{
  text-align: right;
  margin: 10px 0px 10px 0px;
  color:gray;
}

.item-infomation .infor .ship-cost{
  color: green;
  font-weight: 600;
  text-align: right;
}

.item-infomation .infor .link-button{
  margin: 0px 5px 0px 5px;
}

.link-button i{
  color: #FFBB36;
  margin-right: 10px;
}

.link-button:hover i{
  margin-right: 10px;
  animation: gradient 2s ease infinite alternate;
}

.item-infomation .item-picture{
  border-radius: 5px;
}

.content-container .title{
  font-size: 17px;
  margin: 20px 0px 10px 0px;
}

.page_number_list{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.page_number{
    background-color: #FFBB36;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.page_number a{
  color: white;
  font-weight: 600;
}

@keyframes gradient{
  0% {
    background-position: 0 0;
  }
  100% {
      background-position: 100% 0;
      color: white;
  }
}

.link-button:hover{
  background-position: 0% 0%;
  background: linear-gradient(
            90deg,
            #FFF4DE 50%,
            #FFF4DE 50%,
            #FFBB36 50%,
            #FFBB36 50%
            
            );
  /* background-color: #FFBB36; */
  background-size: 500% auto;
  animation: gradient 2s ease infinite alternate;
}

.commodity-item .link-button{
  margin: 7px 3px 0px 3px;
}

  @keyframes scale-animation {
    0%{
      opacity: 0;
      transform: scaleY(1.1);
      transform: scaleX(1.1);
      /* transform:skew(3, 0deg); */
    }
    100%{
      opacity: 1;
      transform: scaleY(1);
      transform: scaleX(1);
      /* transform: rotateY(360deg); */
    }
  }

/* form */

.add-new-item{
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  max-width: 100%;
  animation: scale-animation 0.5s ease;
}

form{
 display: flex;
 flex-direction: column;
}

form input{
  height: 35px;
  border-radius: 15px;
  border: 2px solid rgb(209, 209, 209);
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  outline: none;
  transition: 0.3s;
  font-weight: 600;
  color: #818181;
}

::placeholder {
  color: black;
  opacity: 0.3;
  font-weight: 600;
}

:-ms-input-placeholder {
  color: black;
  opacity: 0.3;
  font-weight: 600;
}

::-ms-input-placeholder {
  color: black;
  opacity: 0.3;
  font-weight: 600;
}

form label{
  margin: 5px 0px 7px 5px;
  font-weight: 600;
  color: #4b4c4d;
}

form label i{
  color: #fff;
  margin-right: 10px;
}

form textarea{
  border-radius: 15px;
  border: 2px solid rgb(209, 209, 209);
  background-color: #fff;
  margin: 5px;
  outline: none;
  padding: 15px;
  resize: none;
  transition: 0.3s;
  font-weight: 600;
  color: #818181;
}

form textarea:hover, textarea:focus{
  border: 2px solid orange;
}

form input:hover, input:focus{
  border: 2px solid orange;
}

form input[type=file]{
  border: none;
}

form .link-button{
  padding: 10px;
  margin-top: 20px;
  border-radius: 15px;
}

form input[type=submit]{
  font-weight: 600;
  color: #FFBB36;
  background-color: #FFF4DE;
  border: none;
}
form input[type=submit]:hover{
  color: #fff;
  background-color: #FFBB36;
}

form input[type=checkbox]{
  height: auto;
}

form .center-title{
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #4b4c4d;
}
.styled-table thead tr {
  background-color: #FFF4DE;
  color: #FFA800 !important;
  text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
   
}

.styled-table td:first-child,
.styled-table th:first-child {
  border-radius: 5px 0px 0px 5px;
}

.styled-table td:last-child,
.styled-table th:last-child {
  border-radius: 0 5px 5px 0;
}

.styled-table tbody tr {
  background-color: #f0f0f0 !important;
  color: #4b4c4d;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #fff;
}

.styled-table tbody tr:last-of-type {
  border-bottom: none;
}

.styled-table {
  border-collapse:separate;
  border-spacing:0 15px;
  margin: 5px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  width: 100%;
}

.old-image{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  height: 35px;
  background-color: #C9F7F5;
  border-radius: 15px;
  color: #38a8aa !important;
  font-weight: 600;
  border: none !important;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 15px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #38a8aa transparent transparent transparent;
  transition: 0.5s ease;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #38a8aa transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #38a8aa;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(255, 255, 255, 0.2) transparent;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
}

/* Style items (options): */
.select-items {
  position: absolute;
  border-radius: 15px;
  background-color: #C9F7F5;
  top: 120%;
  left: 0;
  right: 0;
  z-index: 99;
  font-weight: 600;
  color: #38a8aa;
  
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #b9eeea;
  border-radius: 15px;
  color:#38a8aa;
}

#image-upload{
  display: inline-block;
  background: #EEE5FF;
  color: #9E53FC;
  padding: 10px;
  font-family: sans-serif;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
}

#image-upload i{
  color: #9E53FC;
}

.login-form{
  --width: 50vh;
  --height:60vh;
  max-height: var(--height);
  width: var(--width);
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  position: fixed;
  top: calc(50% - var(--height)/2); 
  left: calc(50% - var(--width)/2); 
}

.login-form .login-title{
  font-size: 27px;
  color:rgb(82, 82, 82)
}
.login-form .orange{
  color: #FFBB36 !important;
}

.login-form .login-logo{
  height: 70px;
  position: relative;
  left: calc(var(--width)/2 - 45px);
  top: -45px;
}

.login-form .login-submit{
  margin-top: auto;
}


@media screen and (max-width: 1100px) {
  .commodity {
    --spacing: 20px;
    --column: 4;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    margin-bottom: calc(-1 * var(--spacing));
  }
}


@media screen and (max-width: 767px) {
  .commodity {
    --spacing: 20px;
    --column: 3;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    margin-bottom: calc(-1 * var(--spacing));
  }
}

@media screen and (max-width: 730px) {
  .header-menu{
    display: none;
  }

  .header .empty{
    display: none;
  }
}



@media screen and (max-width: 480px) {
  .commodity {
    --spacing: 20px;
    --column: 2;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
    margin-bottom: calc(-1 * var(--spacing));
  }

  .grid-container {
    display: grid;
    grid-template-areas:
        'menu header header'
        'menu main right'
        'menu footer footer';
    grid-template-rows: 6vh auto 10vh;
    grid-template-columns: 7vh auto 0vh;
    grid-gap: 0px;
    padding: 0px;
    height: 100vh;
  }

  .menu-item{
    height: 35px;
    margin: 0px 0px 10px 0px;
    background-color: #dfdfdf !important;
    border-radius: 5px;
    display: flex;
    align-items:center;
    padding-left: 0px;
    justify-content:center;
    flex-direction:column;
  }

  .menu-item .menu-link{
    font-size: 11px;
  }
  .menu-item .menu-link i{
    margin-right: 0px;
  }

  .menu-item .menu-link span{
    visibility: hidden;
    width: 0px;
    display: none;
  }

  .header-menu {
    display: none;
    list-style: none;
    display: flex;
    align-items: center;
    display: none;
  }

  .sidebar-menu{
    position: sticky;
    padding: 10px;
    top: 0px;
  }

  .menu-webname{
    display: none;
  }

  .sidebar-header .menu-logo{
    height: 35px;
  }

  .login-form{
    --width: 40vh;
    --height:60vh;
    max-height: var(--height);
    width: var(--width);
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
    position: fixed;
    top: calc(50% - var(--height)/2); 
    left: calc(50% - var(--width)/2); 
  }
  
  .login-form .login-title{
    font-size: 27px;
    color:rgb(82, 82, 82)
  }
  .login-form .orange{
    color: #FFBB36 !important;
  }
  
  .login-form .login-logo{
    height: 70px;
    position: relative;
    left: calc(var(--width)/2 - 45px);
    top: -45px;
  }
  
  .login-form .login-submit{
    margin-top: auto;
  }
}


/* page-5 */

.cover-image{
  height: 50px;
  width: 50px;
  border-radius: 10px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;;
}
